.login-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.guest-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.guest-button {
  background-color: #F8CEFF;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -200px; /* Ajusta este valor a tu gusto */
}

.logo {
  width: 480px;
  margin-bottom: -80px;
}

.login-container input {
  width: 280px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
}

.login-button {
  width: 280px;
  padding: 12px;
  background-color: #F8CEFF;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.link-button {
  color: #006EFF;
  text-decoration: none;
  font-size: 14px;
}

.link-button:hover {
  text-decoration: underline;
}

.footer {
  background-color: #F8CEFF;
  text-align: center;
  padding: 1px;
  flex-shrink: 0; 
}