<div class="header">
  <div class="logo">

    <!-- SI TIENE LINK -->
    <a *ngIf="showLogoLink" [routerLink]="['/private-feed']">
      <img src="Logo MiruZone.png">
    </a>

    <!-- NO TIENE LINK -->
    <img *ngIf="!showLogoLink" src="Logo MiruZone.png">

  </div>

  <div class="search" *ngIf="showSearch">
    <input
      type="text"
      placeholder="Buscar..."
      (input)="onSearch($event)"
    >
  </div>

  <div class="logout">

     <!-- AVATAR -->
  <div class="header-avatar" *ngIf="isLoggedIn">
    <img
      [src]="avatarUrl"
      alt="avatar"
    >
  </div>
  
    <button (click)="logout()">Cerrar sesión</button>
  </div>
</div>