/* Barra superior fija */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #F8CEFF;
  display: flex;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
}

/* Logo */
.logo {
  margin-right: 20px;
}

.logo img {
  height: 100px;
}

/* logo sea clicable */
.logo a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 100px;
}

/* Buscador */
.search {
  margin-left: 450px; 
}

.search input {
  width: 250px;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

/* logout y avatar */
.logout {
  margin-left: auto; 
  margin-right: 40px; 
}

.logout button {
  padding: 8px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.header-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(225, 190, 255);
  flex-shrink: 0; 
}

.header-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logout {
  margin-left: auto;
  margin-right: 40px;

  display: flex;
  align-items: center;
  gap: 12px; 
}

